.footer{
    background-color: rgb(81, 86, 106);
    padding: 1rem 0 ;
    color: #f5f9fa;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    
  }
  
  .footer .letras{
    
    text-shadow:0px 5px 7px black;
  
  }